$gray: #eee;

.md-button.button-small {
    min-width: 0px;
}
md-content.md-default-theme {
  background-color: $gray;
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
ng-md-icon {
position: relative;
top: 5px; // adjust for svg viewbox
}
.md-button.md-fab.md-fab-bottom-right {
  position: fixed !important;
}

.user-avatar {
  border-radius: 99%;
}